* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-family: sans-serif;
}

main {
  background-color: black;
  height: 100vh;
}

header {
  text-align: center;
  height: 70px;
  line-height: 70px;
  width: 100%;
  position: fixed;
  background-color: #dedede;
}

header img {
  vertical-align: middle;
  height: 50%;
}

.main-nav,
.main-nav * {
  height: 100%;
  display: inline-block;
}

.main-nav a {
  padding: 0 20px;
  border-bottom: 2px solid transparent;
}

.main-nav a:hover {
  border-bottom: 2px solid #00e165;
}
